{{>head}}
<body>
    {{>navbar}}

   
    <div class="row">
        <div class="col-8">
            <h1>Librería VueJS</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam ad culpa commodi itaque officiis repudiandae! Dolores, quia veritatis voluptatem, distinctio, ut deserunt natus consectetur eos aliquam nostrum cum exercitationem nemo!</p>
        </div>
        <div class="col-4">
            <img src="assets/images/vuejs.png" class="img-thumbnail">

        </div>

    </div>
    {{>footer}}
